<a href="https://colab.research.google.com/github/savagecm/codeJam/blob/master/max.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
from __future__ import print_function
# importing required modules 
from zipfile import ZipFile 
import requests
import numpy as np
import pandas as pd
import os
from imblearn.over_sampling import SMOTE, ADASYN

# specifying the zip file name 
train_file_name = "orange_small_train.data.zip"
test_file_name = "orange_small_test.data.zip"
trainAppetencyName = "orange_small_train_appetency.labels"
trainChrunName = "orange_small_train_churn.labels"
trainUpselling = "orange_small_train_upselling.labels"


def downloadFile(fileName):
  urlBase = "https://www.kdd.org/cupfiles/KDDCupData/2009/"
  urlName = urlBase+fileName
  print("download file from URL : ", urlName)
  response = requests.get(urlName, stream=True)
  response.status_code
  with open(fileName, "wb") as code:
    code.write(response.content)
  return

def downloadZipFile(fileName):
  urlBase = "https://www.kdd.org/cupfiles/KDDCupData/2009/"
  urlName = urlBase+fileName
  print("download file from URL : ", urlName)
  response = requests.get(urlName, stream=True)
  response.status_code
  with open(fileName, "wb") as code:
    code.write(response.content)
  # opening the zip file in READ mode 
  with ZipFile(fileName, 'r') as zip: 
    # extracting all the files 
    print('Extracting all the files now...') 
    zip.extractall() 
    print('Done!') 
  return





downloadZipFile(train_file_name);
downloadZipFile(test_file_name);
downloadFile(trainAppetencyName);
downloadFile(trainChrunName);
downloadFile(trainUpselling);


print(os.listdir(os.getcwd()))

download file from URL :  https://www.kdd.org/cupfiles/KDDCupData/2009/orange_small_train.data.zip
Extracting all the files now...
Done!
download file from URL :  https://www.kdd.org/cupfiles/KDDCupData/2009/orange_small_test.data.zip
Extracting all the files now...
Done!
download file from URL :  https://www.kdd.org/cupfiles/KDDCupData/2009/orange_small_train_appetency.labels
download file from URL :  https://www.kdd.org/cupfiles/KDDCupData/2009/orange_small_train_churn.labels
download file from URL :  https://www.kdd.org/cupfiles/KDDCupData/2009/orange_small_train_upselling.labels
['.config', 'orange_small_train_upselling.labels', 'orange_small_train_churn.labels', 'orange_small_train.data', 'orange_small_train_appetency.labels', 'orange_small_train.data.cksum', 'orange_small_test.data', 'orange_small_test.data.cksum', 'orange_small_test.data.zip', 'orange_small_train.data.zip', 'sample_data']

read csv data

In [4]:
train = pd.read_csv ('orange_small_train.data',sep ='\t')
test = pd.read_csv ('orange_small_test.data',sep ='\t')
appetency = pd.read_table('orange_small_train_appetency.labels', header = None).loc[:, 0].astype('category')
churn = pd.read_table('orange_small_train_churn.labels', header = None).loc[:, 0].astype('category')
upselling= pd.read_table('orange_small_train_upselling.labels', header = None).loc[:, 0].astype('category')
train.describe()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: FutureWarning: read_table is deprecated, use read_csv instead, passing sep='\t'.
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: FutureWarning: read_table is deprecated, use read_csv instead, passing sep='\t'.
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: FutureWarning: read_table is deprecated, use read_csv instead, passing sep='\t'.
  """

             Var1         Var2           Var3  ...         Var190  Var209  Var230
count  702.000000  1241.000000    1240.000000  ...     333.000000     0.0     0.0
mean    11.487179     0.004029     425.298387  ...   22007.045192     NaN     NaN
std     40.709951     0.141933    4270.193518  ...   29085.146490     NaN     NaN
min      0.000000     0.000000       0.000000  ...       0.000000     NaN     NaN
25%      0.000000     0.000000       0.000000  ...    2732.670000     NaN     NaN
50%      0.000000     0.000000       0.000000  ...   12668.940000     NaN     NaN
75%     16.000000     0.000000       0.000000  ...   29396.340000     NaN     NaN
max    680.000000     5.000000  130668.000000  ...  230427.000000     NaN     NaN

[8 rows x 192 columns]

smote test

In [0]:
train.head(100)

In [0]:
DataVars = train.columns
data_types = {Var: train[Var].dtype for Var in DataVars}
data_types

In [7]:
from sklearn import preprocessing
from fancyimpute import KNN
train_cat = train.select_dtypes(exclude=[object])
train_cat = train_cat.fillna(train_cat.mean())


"""
# this is too slow
data_incomplete = np.array(train_cat)#转为array
        #预测缺失值
filled_knn = KNN(k=3).fit_transform(data_incomplete)#利用knn填补缺失值
data_complete = pd.DataFrame(filled_knn)#保存结果
data_complete.head()
"""

train_cat.head()

        Var1      Var2        Var3  ...        Var190  Var209  Var230
0  11.487179  0.004029  425.298387  ...  22007.045192     NaN     NaN
1  11.487179  0.004029  425.298387  ...  22007.045192     NaN     NaN
2  11.487179  0.004029  425.298387  ...  22007.045192     NaN     NaN
3  11.487179  0.004029  425.298387  ...  22007.045192     NaN     NaN
4  11.487179  0.004029  425.298387  ...  22007.045192     NaN     NaN

[5 rows x 192 columns]

In [11]:
threshold = 0.2

train_cat = train_cat.drop(train_cat.std()[train_cat.std() < threshold].index.values, axis=1)
train_cat = train_cat.loc[:, pd.notnull(train_cat).sum()>len(train_cat)*.8]
train_cat.head()

        Var1        Var3      Var4  ...      Var188      Var189        Var190
0  11.487179  425.298387  0.125396  ...  167.368477  462.000000  22007.045192
1  11.487179  425.298387  0.125396  ...  167.368477  270.142137  22007.045192
2  11.487179  425.298387  0.125396  ...  167.368477  270.142137  22007.045192
3  11.487179  425.298387  0.125396  ...  167.368477  270.142137  22007.045192
4  11.487179  425.298387  0.125396  ...  167.368477  270.142137  22007.045192

[5 rows x 160 columns]

In [18]:
from imblearn.over_sampling import SMOTE, ADASYN
X_resampled, y_resampled = SMOTE(kind='svm').fit_sample(train_cat, appetency)
print(y_resampled)

[-1 -1 -1 ...  1  1  1]

In [21]:
print(y_resampled.shape)
print(train_cat.shape)

(75883,)

(50000, 160)



    Let's count how many rows have values

    And count how many columns have null value

In [0]:
train.apply(lambda x: x.count(), axis=1)

In [0]:
train.isnull().sum(axis=0)

    Let's start to clean data

    Drop the columns that std is close to be zero

    Delete columns with at least 20% missing values

In [0]:
threshold = 0.2

train = train.drop(train.std()[train.std() < threshold].index.values, axis=1)
train = train.loc[:, pd.notnull(train).sum()>len(train)*.8]



    We anly have 65 columns now.

    Let's change the data types:

    convert integer columns to float

    non-integer, non-float columns to categorical

In [0]:
DataVars = train.columns
data_types = {Var: train[Var].dtype for Var in DataVars}

for Var in DataVars:
    if data_types[Var] == int:
        x = train[Var].astype(float)
        train.loc[:, Var] = x
        data_types[Var] = x.dtype
    elif data_types[Var] != float:
        x = train[Var].astype('category')
        train.loc[:, Var] = x
        data_types[Var] = x.dtype
float_DataVars = [Var for Var in DataVars if data_types[Var] == float]
data_types

{'Var109': dtype('float64'),
 'Var112': dtype('float64'),
 'Var113': dtype('float64'),
 'Var119': dtype('float64'),
 'Var123': dtype('float64'),
 'Var125': dtype('float64'),
 'Var13': dtype('float64'),
 'Var132': dtype('float64'),
 'Var133': dtype('float64'),
 'Var134': dtype('float64'),
 'Var140': dtype('float64'),
 'Var143': dtype('float64'),
 'Var144': dtype('float64'),
 'Var149': dtype('float64'),
 'Var153': dtype('float64'),
 'Var160': dtype('float64'),
 'Var163': dtype('float64'),
 'Var181': dtype('float64'),
 'Var192': CategoricalDtype(categories=['0G9vyxdMWg', '0kQTmBU3gb', '0kQqrQsiZt', '0vimfo8zhV',
                   '1GdOj17ejg', '1GdOj1KXzC', '1JGTmBQZiT', '1JGqrQKzJV',
                   '1JGr4RKzJV', '1JGr4RUaLY',
                   ...
                   'yaKt0Gq076', 'ym_vyxTlru', 'ypNt0Go8Lb', 'zC_Wq6e2Rv',
                   'zKnq9at_88', 'zKnr4RXktW', 'zKnrjIPxRp', 'zcROj17IEC',
                   'zcROj1KVEH', 'zcRZptzip9'],
                  ordered=False),
 'Var193': CategoricalDtype(categories=['2Knk1KF', '2wnefc9ISdLjfQoAYBI',
                   '5QKIjwyXr4MCZTEp7uAkS8PtBLcn',
                   '8kO9LslBGNXoLvWEuN6tPuN59TdYxfL9Sm6oU',
                   '9U2tunPAje3TwfLLUQxzM3dC1ghn', 'AERks4l',
                   'B2T7ZTgOX7xpBPBD28SLvVWgBkc13Sm0a3tk2',
                   'BrRu5UxtiQY9TTJ8ABKpfS', 'ByQdnLRlFnny2k4AJzG',
                   'DH86UFkz9LK6My0ezUgZx96oI', 'Fveq5yuDUj6drSMiZO3mXe',
                   'GpoBynXzkxADI7bZBtqvX2IPV5t7o2QCPE', 'IlTgyyFksv4BT',
                   'J71wxZB6Jn0CR82XoyV', 'JXVE',
                   'KjAW4rq3iyvu8XwKkyQ2_svIATjM3B5', 'LrdVolaSGUfkVeWC',
                   'LrdZy8QqgUfkVShG', 'MJdP52puUMWhmExsNdlkGDbNTFln2Eg',
                   'ND3t9Yro9U', 'NMCEYavk0YOlqn2jHeEDjP0xsdXeAZGnZDN0NOfV',
                   'NRCqczK', 'OpDzzQJ', 'PomAbFU', 'QG5U1Qs9mF3805lxYz2cGPnrm',
                   'RO12', 'SrUWsbENd7prk', 'T9RM7fDFhhZjjBFsk5zptG',
                   'TW8dXluYzKpktZjuY8kSPBaZa', 'X1rJx42ksaRn3qcM',
                   'X2uI6IsGev', '_7J0OGNN8s6gFzbM', 'bYmQ4nc', 'e6CkoqApVR',
                   'eSGpMwS8zSGgq_trOpckZ5', 'g62hiBSaKg',
                   'gGvYE2F8JHtPlbzkGbl', 'hnq7pOcHWLojUTXc7HQutLwmffdy',
                   'iKEouAWeUBYR3fQ5tZmt_bDPIn6qT7tIGHs8L',
                   'msph93375qXRfw6hcMceRRIDdmHq8wn',
                   'onTuEhrJJQy_H3IHkZku5AFczhYGqxJ890',
                   'qqimvRzsp8ZZdKRPgzLg68joSn_k', 'rEUOq2QD1qfkRr6qpua',
                   'snf9xe6PBwBZ8lKzhEz', 'ues7INAmyjdS1vDd0YL9jU',
                   'vuPfq6YcbX', 'w9ygS99Qp_', 'wvnt2iBhAPeGqIKaFUxJc6ca3IYp',
                   'yaM_UXtlxCFW5NHTcftwou7BmXcP9VITdHAto',
                   'z3s4Ji522ZB1FauqOOqbkl', 'zPhCMhkz9XiOF7LgT9VfJZ3yI'],
                  ordered=False),
 'Var195': CategoricalDtype(categories=['ArtjQZ8ftr3NB', 'ArtjQZQO1r9fC', 'ArtjQZmIvr94p',
                   'BNjsq81k1tWAYigY', 'CiJDdr4TQ0rGERIS', 'CiJsoa4TQ0rGHlMp',
                   'CuXi4je', 'F1JQrEL', 'I9xt3GBDKUbd8', 'I9xt3GDRhUK7p',
                   'I9xt3GMcxUnBZ', 'I9xt3Gi01UK7p', 'LfvqpCtLOY', 'TnJpfvsJgF',
                   'V10_0kx3ZF2we', 'XMIgoIlPqx', 'ZZBPiZh', 'b_3Q',
                   'bsZtYxFjzA', 'ev6I', 'hiMqnEM7VgIk4JUu', 'lSbpiq1', 'taul'],
                  ordered=False),
 'Var196': CategoricalDtype(categories=['1K8T', 'JA1C', 'mKeq', 'z3mO'], ordered=False),
 'Var197': CategoricalDtype(categories=['0LaQ', '0WHw', '0Xwj', '0Y9G', '0YIT', '0aHy', '0kpG',
                   '0zDT', '12fX', '19FS',
                   ...
                   'wOc1', 'xgSF', 'y3E2', 'yMvB', 'yYar', 'yxYT', 'z32l',
                   'z72i', 'z8at', 'zcPU'],
                  ordered=False),
 'Var198': CategoricalDtype(categories=['02s4XMm', '02sXzfW', '04quqyB', '05vXEFX', '05vYdIL',
                   '05vx4QS', '067eUDx', '06X7E9Z', '06Xs45W', '07LAmkt',
                   ...
                   'zgzeDrD', 'zgzj7NT', 'zlFXFcU', 'zlFpBTu', 'zmM4q6X',
                   'zmMFZH4', 'zmMlkJq', 'zuN95OD', 'zv8CdSD', 'zv8TT5i'],
                  ordered=False),
 'Var199': CategoricalDtype(categories=['00J8E9a', '00JHTSP', '01aZJea', '01r9QwR9mpRnm',
                   '01rm9q25A_xEj', '01rpPS3KgPnu7', '01rpPS3KgXaE1',
                   '03dnv4GDcc', '0DCFSyZnMW', '0DIU6wSVfPOnxAZs',
                   ...
                   'zpdKTlu', 'zrklT4Iztwl_wtqU', 'zttD9Pu', 'zttgwMv',
                   'zvpdulkaWOQlA', 'zx8R9qL', 'zxagMIH', 'zxarPvc',
                   'zyR5BuUrkb8I9Lth', 'zzcv6yg4s3UGv'],
                  ordered=False),
 'Var202': CategoricalDtype(categories=['0062', '00AD', '0152', '01Id', '01br', '02fP', '03GM',
                   '03q0', '0553', '05V9',
                   ...
                   'zvti', 'zw6R', 'zw6s', 'zwzD', 'zx2v', 'zxsN', 'zyO0',
                   'zylC', 'zz34', 'zzpZ'],
                  ordered=False),
 'Var203': CategoricalDtype(categories=['9_Y1', 'F3hy', 'HLqf', 'dgxZ', 'pybr'], ordered=False),
 'Var204': CategoricalDtype(categories=['000J', '0A_v', '15m3', '1Bp0', '3NyY', '47ra', '4N0K',
                   '4nnx', '5euo', '6Kw9', '6TCl', '7JiV', '7WNq', '7pVf',
                   '8BBI', 'AKLO', 'Albh', 'Bw19', 'C6Eu', 'C7DI', 'Cgc3',
                   'DFSe', 'DmlN', 'DtNL', 'EKFb', 'Ew1Q', 'EwzD', 'F_Lu',
                   'FbIm', 'Gx0B', 'H1uM', 'H9GL', 'ID5l', 'KfYH', 'KubS',
                   'LqKm', 'MBhA', 'MGOA', 'NFMt', 'Nbbb', 'Px52', 'QBpP',
                   'QMes', 'RVjC', 'RcM7', 'STGZ', 'SkZj', 'TFSW', 'TjV7',
                   'VILw', 'VwCR', 'WGOH', 'WIr3', 'X8zP', 'Y9Bl', 'YBFS',
                   'YGOC', 'YULl', 'YePk', 'Z5OU', 'ZKJc', 'Zazx', '_48V',
                   '_KXv', '_r21', '_xpN', 'bJXB', 'c2JP', 'cyKH', 'e7QV',
                   'eQTr', 'em8I', 'f4dr', 'fTh6', 'gnEy', 'iVbl', 'iZJp',
                   'jakt', 'jdbz', 'k13i', 'kJJ7', 'lXxA', 'm7JR', 'mTeA',
                   'm_h1', 'nr0d', 'pQsY', 'qaiO', 'rGJy', 'rzbc', 't_4G',
                   'vYXv', 'vm5R', 'vzJD', 'wGwL', 'xQ2A', 'xSqs', 'yrDU',
                   'z5Ry', 'zfpA'],
                  ordered=False),
 'Var205': CategoricalDtype(categories=['09_Q', 'VpdQ', 'sJzTlal'], ordered=False),
 'Var206': CategoricalDtype(categories=['409L', '43pnToF', '69fI', '6JmL', 'CoYW', 'G_zk', 'IYzP',
                   'TIA9', 'Tkho', 'giwq', 'hAFG', 'haYg', 'hzlB', 'itlM',
                   'kxE9', 'lVqb', 'oZyB', 'sYC_', 'wMei', 'y6dw', 'zm5i'],
                  ordered=False),
 'Var207': CategoricalDtype(categories=['0MCPoln', '15TtzZrRt2', '5iay', '6C53VA1kCv',
                   '7M47J5GA0pTYIFxg5uy', 'DHn_WUyBhW_whjA88g9bvA64_',
                   'EBKcR3s6B22tD6gC36gm6S', 'GjJ35utlTa_GNSvxxpb9ju', 'Kxdu',
                   'NKv3VA1BpP', 'me75fM6ugJ', 'o0ZZAVSQ32YuE',
                   'tMBVJkA0xJMEATvl4ht', 'wXfldy7'],
                  ordered=False),
 'Var208': CategoricalDtype(categories=['kIsH', 'sBgB'], ordered=False),
 'Var21': dtype('float64'),
 'Var210': CategoricalDtype(categories=['3av_', '7A3j', 'DM_V', 'g5HH', 'oT7d', 'uKAI'], ordered=False),
 'Var211': CategoricalDtype(categories=['L84s', 'Mtgm'], ordered=False),
 'Var212': CategoricalDtype(categories=['0ufvj1SlEJJXp', '1OjWUjS', '1YxyYTLbzthWO', '3DU5ycSrJHCaC',
                   '3vzwTT0wY25GE', '4kVnq_T26xq1p', '4ylQpLr46xum2hHQ',
                   '5XaTqEY67u', '5gZdPPT4kHWmT', '5u2Bxlj9ua90kqrA',
                   '5xJyDxzwv_pdK', '62ZfA6x0SiWOX', '6Ajbx58', '6z7lZp6XhQkon',
                   '9fipLB8rlL', '9pUnzWLbztKTo', 'Bu_1wtkK7soonSbWUd_',
                   'BuhypZs', 'CrNX', 'DmYOBF5GfjJxb', 'E1aAZ0x7vd', 'EtT4fc6',
                   'FMSzZ91zL2', 'Fhxn23u', 'H4p93_uThXwSG', 'I6KzrtUCei',
                   'IZwBHOJhfS', 'Ie_5MZs', 'JBfYVit4g8', 'L_dnxNc',
                   'MeOIHRG3F9', 'N7XB', 'NH4Nhxj', 'NhsEn4L', 'NjlyLMM',
                   'PKGlZN_', 'PPVb2lXAf4', 'PWD40mS', 'QsQAxv5', 'TSWAwYe',
                   'TVE1uh4F_wOi_', 'TW8UhnX', 'UbxQ8lZ', 'WsRVNrF85oPU_',
                   'XfqtO3UdzaXh_', 'Yp0FSqmQ6uX0MidJVtxn3DSSj',
                   'ZFq7s6OYdbq4pDsQ', 'ZtujLmj9uJdIkLfg', '_5OXC8MSLt',
                   '_T5zedXV8FSBw', 'a3CcPDe', 'awipkRF', 'cOJGGr4F_wga1',
                   'cVJeATK39j43p', 'cntt3uu', 'dGiN9qj1jEYX9', 'dznt9poYpmHt7',
                   'eHM2Qp6', 'fSKKIQdIPDXgw', 'fnfcPDe', 'h0lfDKh52u4GP',
                   'hFuvTXnQzBljb', 'hnKSaiU4aMrDj', 'iwn6', 'lCToAAt', 'leSl',
                   'nHF0', 'nTbNAHh', 'nlbpV6E', 'oOT00mkwDoEFW', 'p894hgt7Gk',
                   'pApW', 'pR1cMtV', 'pY3B3JjkfO', 'spA2krzLD1PDW', 'tDGH',
                   'tbewxY_YSo', 'tw2KJMQ4CHDUN7hS', 'uOTgAWJ2It', 'zD9lk3UmVL',
                   'zz1zifk'],
                  ordered=False),
 'Var216': CategoricalDtype(categories=['11p0d_e', '11p3sk4', '11p43BP', '11p49H7', '11p4cJh',
                   '11p4cb7', '11p4mKe', '11p7fMU', '11p7rdm', '11pASL5',
                   ...
                   'y5FwXXp', 'y5FwjIN', 'y5FxnJM', 'y5Fxyzk', 'y5FyPEY',
                   'y5FyWqR', 'y5Fy_2X', 'y5FzFOa', 'y5Fzn1t', 'y5FzsBf'],
                  ordered=False),
 'Var217': CategoricalDtype(categories=['00L3', '00Lk', '00Pj', '010O', '015k', '01Xr', '01cV',
                   '01wd', '01zb', '02bJ',
                   ...
                   'zwlC', 'zxBj', 'zxHb', 'zxZB', 'zy3T', 'zyBS', 'zyQA',
                   'zyxo', 'zz4X', 'zzQV'],
                  ordered=False),
 'Var218': CategoricalDtype(categories=['UYBR', 'cJvF'], ordered=False),
 'Var219': CategoricalDtype(categories=['49W0rUY', '49W9HeL', '6krWwfF', 'AT1N', 'AU8KzzF',
                   'AU8OvAe', 'AU8_WTd', 'AU8ltHK', 'AU8pNoi', 'FQHxeR8',
                   'FqMWi1g', 'FzaX', 'HEoH', 'JdAM', 'Lmli', 'OFWH', 'kgEg',
                   'lkwAXjv', 'qxDb', 'tdJW_Pm', 'wwPEXoilkr', 'ylgWTXl'],
                  ordered=False),
 'Var22': dtype('float64'),
 'Var220': CategoricalDtype(categories=['07m8iqZ', '07mCabK', '07mQFkJ', '07mRngW', '07mVy8V',
                   '07mmFX7', '07mmflk', '07msbNi', '0AJ_H4Q', '0AJf6lc',
                   ...
                   'zWAtq4h', 'zqsbQ71', 'zqsoLzk', 'zqssxWf', 'zqstvnz',
                   'zqsvdH_', 'zxm38SL', 'zxm6hzI', 'zxmVxx9', 'zxmyH3X'],
                  ordered=False),
 'Var221': CategoricalDtype(categories=['Al6ZaUT', 'JIiEFBU', 'QKW8DRm', 'd0EEeJi', 'oslk', 'z4pH',
                   'zCkv'],
                  ordered=False),
 'Var222': CategoricalDtype(categories=['00ARusu', '00AYONy', '00AhP4J', '017QQMs', '017QhSV',
                   '017mPWC', '017qMJU', '01f7qqc', '057RVB_', '057UsvC',
                   ...
                   'zu6qFbB', 'zu6qs0R', 'zuV6mcE', 'zuV9M4r', 'zvSA17J',
                   'zvSNyBY', 'zvSO_7b', 'zwFAGfT', 'zwFhouF', 'zwFqcLF'],
                  ordered=False),
 'Var223': CategoricalDtype(categories=['LM8l689qOp', 'M_8D', 'bCPvVye', 'jySVZNlOJy'], ordered=False),
 'Var226': CategoricalDtype(categories=['3Cy4', '453m', '5Acm', '7FJQ', '7P5s', '7aLG', 'Aoh3',
                   'FSa2', 'PM2D', 'Qcbd', 'Qu4f', 'TNEC', 'WqMG', 'Xa3G',
                   'fKCe', 'kwS7', 'me1d', 'rgKb', 'szEZ', 'uWr3', 'wX53',
                   'w_Ub', 'xb3V'],
                  ordered=False),
 'Var227': CategoricalDtype(categories=['02N6s8f', '6fzt', 'RAYp', 'ZI9m', 'nIGXDli', 'nIGjgSB',
                   'vJ_w8kB'],
                  ordered=False),
 'Var228': CategoricalDtype(categories=['0pzBWGkV3fbsGZN52DH', '4rd_', '55YFVY9', '5oZS',
                   '6nxx00q6gnIF8ePJ3P3AEfZ1N', '9VmiOykV3fbsAg65e4w', 'DU8B',
                   'F2FcTt7IdMT_v', 'F2FyR07IdsN7I', 'JnGLH58smNxIYcGK39k',
                   'NoEd', 'R4y5gQQWY8OodqDV', 'RjBDiL8f9CQYc21fICscNNpj6',
                   'SbOd7O8ky1wGNxp0Arj0Xs', 'TCU50_Yjmm6GIBZ0lL_', 'VjDE',
                   'WfJ2BB2SFSqauljlfOB', 'WfJYmPMksSqa1pajvfG', 'ZeaF',
                   'Zy3gnGM', '_URKn_77G3QyQHSVQ2N1RKmtW',
                   '_cTCyH95OE93jSkoIBT', 'am14IcfM7tWLrUmRT52KtA',
                   'b9qbUNk0dML_Mvi2', 'd0LtHjWeaXyArdN4sxU_saXqH',
                   'ib5G6X1eUxUn6', 'iyHGyLCEkQ', 'n1OBWGkV3fbsHR75taC', 'r_7E',
                   'xwM2aC7IdeMC0'],
                  ordered=False),
 'Var24': dtype('float64'),
 'Var25': dtype('float64'),
 'Var28': dtype('float64'),
 'Var35': dtype('float64'),
 'Var38': dtype('float64'),
 'Var44': dtype('float64'),
 'Var57': dtype('float64'),
 'Var6': dtype('float64'),
 'Var65': dtype('float64'),
 'Var7': dtype('float64'),
 'Var73': dtype('float64'),
 'Var74': dtype('float64'),
 'Var76': dtype('float64'),
 'Var78': dtype('float64'),
 'Var81': dtype('float64'),
 'Var83': dtype('float64'),
 'Var85': dtype('float64')}



Imputing the missing values for numerical variables: >

    Let’s fill up the missing values with the means of the respective columns:

In [0]:
# mark zero values as missing or NaN
#train[float_DataVars].isnull().replace(0, np.NaN)
# fill missing values with mean column values
#train[float_DataVars].fillna(train[float_DataVars].mean(), inplace=True)
# count the number of NaN values in each column
#train[float_DataVars]  

float_x_means = train.mean()

for Var in float_DataVars:
    x = train[Var]
    isThereMissing = x.isnull()
    if isThereMissing.sum() > 0:
        train.loc[isThereMissing.tolist(), Var] = float_x_means[Var]



Cleaning Categorical Variables

    Now, time to fill the missing values of the categorical features

In [0]:
#Let's see the number of categories of each categorical feature:

DataVars = train.columns

categorical_DataVars = [Var for Var in DataVars
                           if data_types[Var] != float]

categorical_levels = train[categorical_DataVars].apply(lambda col: len(col.cat.categories))
categorical_levels

Var192      361
Var193       51
Var195       23
Var196        4
Var197      225
Var198     4291
Var199     5073
Var202     5713
Var203        5
Var204      100
Var205        3
Var206       21
Var207       14
Var208        2
Var210        6
Var211        2
Var212       81
Var216     2016
Var217    13990
Var218        2
Var219       22
Var220     4291
Var221        7
Var222     4291
Var223        4
Var226       23
Var227        7
Var228       30
dtype: int64

Those variables having over 500 categories are likely to be just text / character data. 
Let's get rid of them:

In [0]:
categorical_DataVars = categorical_levels[categorical_levels <= 500].index

categorical_DataVars

Index(['Var192', 'Var193', 'Var195', 'Var196', 'Var197', 'Var203', 'Var204',
       'Var205', 'Var206', 'Var207', 'Var208', 'Var210', 'Var211', 'Var212',
       'Var218', 'Var219', 'Var221', 'Var223', 'Var226', 'Var227', 'Var228'],
      dtype='object')



Let's create a new categorical feature named 'U' for "Unknown" for imputing the missing values for categorical variables. That will be a good enough practice, since we are not losing any samples and not making any assumptions on features distribution.

In [0]:
collapsed_categories = {}
removed_categorical_DataVars = set()

for Vars in categorical_DataVars:
    
    isTheremissing_value = train[Vars].isnull()
    if isTheremissing_value.sum() > 0:
        train[Vars].cat.add_categories('unknown', inplace=True)
        train.loc[isTheremissing_value.tolist(), Vars] = 'unknown'

In [0]:

train.head()

          Var6  Var7   Var13  ...  Var226   Var227         Var228
0  1526.000000   7.0   184.0  ...    xb3V     RAYp  F2FyR07IdsN7I
1   525.000000   0.0     0.0  ...    fKCe     RAYp  F2FyR07IdsN7I
2  5236.000000   7.0   904.0  ...    Qu4f  02N6s8f  ib5G6X1eUxUn6
3  1326.437116   0.0     0.0  ...    FSa2     RAYp  F2FyR07IdsN7I
4  1029.000000   7.0  3216.0  ...    FSa2     RAYp  F2FyR07IdsN7I

[5 rows x 65 columns]

In [0]:
train.corr()

            Var6      Var7     Var13  ...    Var160    Var163    Var181
Var6    1.000000  0.148626  0.094397  ...  0.502046  0.015913 -0.015613
Var7    0.148626  1.000000  0.406322  ...  0.063407  0.022137 -0.051640
Var13   0.094397  0.406322  1.000000  ...  0.051797  0.018853 -0.017788
Var21   0.576973  0.063691  0.048067  ...  0.924531  0.008278 -0.006897
Var22   0.575632  0.067912  0.049612  ...  0.927281  0.010642 -0.012422
Var24   0.419153  0.065608  0.034296  ...  0.573099 -0.009581  0.000034
Var25   0.505610  0.080325  0.046260  ...  0.790594  0.035778 -0.008085
Var28  -0.016302 -0.022627  0.003624  ... -0.010974  0.122244 -0.005649
Var35  -0.005624 -0.014688  0.010448  ...  0.030225  0.020547  0.065505
Var38   0.021091  0.020216  0.010103  ... -0.025466  0.071866 -0.075818
Var44   0.009223 -0.011820 -0.008222  ...  0.011792  0.002202  0.083044
Var57  -0.001842 -0.002905  0.006174  ...  0.003916 -0.002252 -0.003872
Var65   0.102393  0.650274  0.332193  ...  0.045745  0.038546 -0.031616
Var73   0.121403  0.450135  0.376510  ...  0.052223 -0.018079 -0.060441
Var74   0.023319  0.126454  0.166305  ...  0.018803  0.021986 -0.010167
Var76   0.021117  0.033393  0.030732  ...  0.021649 -0.023581 -0.078361
Var78  -0.007073  0.008812 -0.000490  ...  0.004999 -0.012772  0.453226
Var81  -0.200376 -0.139800 -0.061173  ... -0.159886  0.200893 -0.037010
Var83   0.489663  0.029021  0.025246  ...  0.632778  0.021580 -0.014182
Var85   0.461425  0.077624  0.042900  ...  0.593294  0.082916 -0.009197
Var109  0.496236  0.054886  0.041356  ...  0.644056  0.003589 -0.004091
Var112  0.511474  0.078194  0.043719  ...  0.710891 -0.031473 -0.013216
Var113  0.015099  0.022057  0.009343  ...  0.004545  0.090999 -0.078238
Var119  0.753037  0.071555  0.052270  ...  0.695561  0.011726 -0.014013
Var123  0.517737  0.038178  0.038603  ...  0.770352  0.025388 -0.015709
Var125  0.024524  0.085545  0.079081  ...  0.003840 -0.016622 -0.018707
Var132 -0.010569 -0.019663 -0.001274  ...  0.016904 -0.013419  0.598284
Var133  0.023809  0.039435  0.043861  ...  0.049000  0.022726 -0.094748
Var134  0.015377  0.035902  0.029586  ... -0.023729  0.541652 -0.069555
Var140  0.057759  0.271089  0.250325  ...  0.033391  0.018730 -0.012986
Var143 -0.006809 -0.011605  0.001999  ... -0.001116 -0.003065  0.082020
Var144  0.089661  0.314555  0.286128  ...  0.016340  0.064930 -0.063054
Var149  0.001698 -0.002322  0.009473  ... -0.007810  0.295033 -0.025963
Var153  0.035678  0.050166  0.043079  ...  0.000970  0.326853 -0.134145
Var160  0.502046  0.063407  0.051797  ...  1.000000 -0.020336 -0.007003
Var163  0.015913  0.022137  0.018853  ... -0.020336  1.000000 -0.054595
Var181 -0.015613 -0.051640 -0.017788  ... -0.007003 -0.054595  1.000000

[37 rows x 37 columns]

In [0]:
train=train.dropna(axis=0, how='all',thresh=50,subset=None, inplace=False)
train=train.dropna(axis=1, how='all',thresh=50,subset=None, inplace=False)


train=train.fillna(0)
train.shape